.title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6vw;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
}

svg {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transition: all 0.1s ease-in-out;
  animation: rebond 0.4s ease-in-out alternate infinite;
}

@keyframes rebond {
  from {
    bottom: 15px;
    left: 50%;
  }
  to {
    bottom: 5px;
    left: 50%;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  height: 100vh;
  width: 100%;
  background-color: white;
}

p {
  width: 70%;
  color: black;
  font-size: 22px;
}

.equipe-content {
  background-color: wheat;
}

.daniel-content {
  background-color: greenyellow;
}

.kylian-content {
  background-color: blueviolet;
}
