.presentation2 {
  height: fit-content;
  width: 90vw;
  margin-left: auto;
  margin-top: 8vh;
  display: flex;
  gap: 10vw;
}
.presentation2 .right {
  width: 50vw;
  height: 100%;
}
.presentation2 .left {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.presentation2 .left img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}
.presentation2 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.3vw;
  color: #14213d;
}
.presentation2 p {
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.9vw;
  color: #14213d;
  width: 85%;
}
#realisation_button {
  margin-top: 5vh;
  color: white;
  background-color: #14213d;
  height: 8vh;
  width: 14vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  border: none;
  border-radius: 0.5vw;
  margin-left: 5vw;
}
@media screen and (max-width: 850px) {
  .presentation2 {
    margin-top: 40vh;
    height: fit-content;
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .presentation2 {
    height: fit-content;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentation2 .right {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .presentation2 .left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentation2 .left img {
    width: 30vw;
  }
  .presentation2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vw;
    line-height: 4.2vw;
    color: #14213d;
    text-align: left;
  }
  .presentation2 p {
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 3.5vw;
    color: #14213d;
  }
  #realisation_button {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .presentation2 {
    margin-top: 0vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
  .presentation2 .right {
    margin-top: 5vh;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .presentation2 .left {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .presentation2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.5vw;
    line-height: 4.9vw;
    color: #14213d;
    text-align: center;
  }
  .presentation2 p {
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3vw;
    line-height: 5vw;
    color: #14213d;
  }
  .presentation2 .left img {
    margin-top: 5vh;
    width: 50vw;
    height: auto;
    border-radius: 10px;
  }
  #realisation_button {
    margin-top: 6vh;
    color: white;
    background-color: #14213d;
    height: 1vh;
    width: 25vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    border: none;
    border-radius: 0.5vw;
    margin-left: -5vw;
  }
}
@media screen and (max-width: 500px) {
  .presentation2 {
    margin-top: -5vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .presentation2 {
    margin-top: -15vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .presentation2 {
    margin-top: -15vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .presentation2 {
    margin-top: -20vh;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
}
