main{
    width: 100%;
}
.besoin{
    margin-top: 10vh;
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.besoin .besoin_card{
    height: 45%;
    width: 30%;
    border-radius: 10px;
    background-color: #14213d;
    border-radius: 10px;
    border: 1px solid black; 
    display: flex;
    align-items: center; 
    flex-direction: column; 
    justify-content: center;
}

#first_one{
    background-color: #0b1215;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#first_one h1{
    margin-top: 0%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4vh;

}
#first_one p{
    margin-top: 4%;
    color: white;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.besoin .besoin_card h1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 3vh;
}
.besoin .besoin_card p{
    margin-top: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.9vh;
    line-height: 1.5;
}
@media screen and (max-width: 1550px) {
    .besoin{
        height: 90vh;
    }
    .besoin .besoin_card p{
        margin-top: 10%;
        font-size: 14px;
        line-height: 1.5;
    }
  }
  @media screen and (max-width: 1350px) {
    .besoin{
        height: 80vh;
    }
    .besoin .besoin_card p{
        font-size: 12px;
        line-height: 1.5;
    }
  }
  @media screen and (max-width: 1350px) {
    .besoin{
        height: 80vh;
    }
    .besoin .besoin_card p{
        font-size: 12px;
        line-height: 1.5;
    }
  }
  @media screen and (max-width: 1350px) {
    .besoin{
        height: 70vh;
    }
    .besoin .besoin_card p{
        font-size: 12px;
        line-height: 1.5;
    }
  }
  @media screen and (max-width: 1200px) {
    .besoin{
        height: 100vh;
    }
    .besoin .besoin_card {
        width: 45%;
        height: 30%;
    }
  }
  @media screen and (max-width: 1200px) {
    .besoin{
        height: 100vh;
        width: 99%;
    }
    .besoin .besoin_card {
        width: 45%;
        height: 30%;
    }
  }
  @media screen and (max-width: 600px) {
    .besoin{
        height: 200vh;
        width: 99%;
    }
    .besoin .besoin_card {
        width: 70%;
        height: 15%;
    }
    .besoin .besoin_card p{
        font-size: 15px;
        line-height: 1.5;
    }
  }