.besoin2{
    height: 100vh;
    width: 80%;

    
}
.besoin2 .besoin_backgnd{
    width: 100%;
    height: auto;
    background-image: url(/images/beach-background.webp);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.besoin2 .besoin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;

}
.besoin2 div{
    height: 40%;
    width: 30%;;
    border: solid black;
    border-radius: 10px;
}