.besoin{
    margin-top: -130vh;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.besoin h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    color: white;
}
.besoin_container{
    height: 80vh;
    width: 100%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.besoin_container  h2{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
    margin-bottom: 2%;
    margin-left: 2%;
}

.besoin_container  section{
    height: 40%;
    margin-bottom: 2%;
    width: 25%;
    color:#14213d;
    border: solid white 2px;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.besoin_container .classique_section h1{
    margin-left: 2%;
    margin-top: 50%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.besoin_container .classique_section img{
    width: auto;
    height: 90%;
    margin-right: -10%;
    border-radius: 10px;
    box-shadow: 2px black;
    filter: drop-shadow( -3px 3px 4px black);
}
.besoin_container .besoin_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
}
.besoin_container .besoin_title h1{
    text-align: left;
    font-size: 4em;
    color: white;
    
}
@media screen and (max-width: 1300px) {
    .besoin{
      margin-top: -80vh;
    }
    
  }