main{
    width: 100%;
}
.besoin{
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.besoin .besoin_card{
    height: 45%;
    width: 30%;
    border-radius: 10px;
    background-color: #14213d;
    border-radius: 10px;
    border: 1px solid black; 
    display: flex;
    align-items: center; 
    flex-direction: column; 
    justify-content: center;
}

#first_one{
    background-color: #0b1215;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#first_one h1{
    margin-top: 0%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;

}
#first_one p{
    margin-top: 4%;
    color: white;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.besoin .besoin_card h1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 30px;
}
.besoin .besoin_card p{
    margin-top: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 1.5;
}
@media screen and (max-width: 1550px) {
    .besoin{
        height: 90vh;
    }
    .besoin .besoin_card h1{
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        font-size: 25px;
    }
    .besoin .besoin_card p{
        margin-top: 10%;
        font-size: 14px;
        line-height: 1.5;
    }
  }
  @media screen and (max-width: 1350px) {
    .besoin{
        height: 80vh;
        width: 80%;
    }
    .besoin .besoin_card p{
        font-size: 12px;
        line-height: 1.5;
    }
    #first_one h1{
        font-size: 40px;
    
    }
  }


  @media screen and (max-width: 1200px) {
    .besoin{
        height: 90vh;
        width: 70%;

    }
    .besoin .besoin_card {
        width: 45%;
        height: 30%;
    }
  }
  @media screen and (max-width: 1000px){
    .besoin{
        width: 85%;
    }
    .besoin .besoin_card h1{
        font-size: 20px;
      }
      .besoin .besoin_card p{
        font-size: 13.5px;
        line-height: 1.6;
    }
    #first_one h1{
        font-size: 30px;
    
    }
    #first_one p{
        font-size: 15px;
    }
  }

  @media screen and (max-width: 910px){
    .besoin{
        margin-top: 10vh;

    }
    .besoin .besoin_card p{
        font-size: 12px;
        line-height: 1.7;
    }
  }
  @media screen and (max-width: 810px){
    #first_one h1{
        font-size: 25px;
    
    }
    .besoin{
        margin-top: 10vh;
        height: 90vh;
    }
    .besoin .besoin_card h1{
        font-size: 18px;
      }
    .besoin .besoin_card p{
        font-size: 11px;
        line-height: 1.8;
    }
  }
  @media screen and (max-width: 700px){
    .besoin .besoin_card h1{
        font-size: 15px;
      }
    .besoin .besoin_card p{
        font-size: 10px;
        line-height: 1.8;
    }
   
  }
  @media screen and (max-width: 600px) {
    .besoin{
        margin-top: 10vh;
        height: 330vh;
        width: 99%;
    }
    .besoin .besoin_card {
        width: 70%;
        height: 15%;
    }
    .besoin .besoin_card h1{
        font-size: 25px;
      }
    .besoin .besoin_card p{
        font-size: 15px;
        line-height: 1.8;
    }
    #first_one h1{
        font-size: 35px;
    
    }
    #first_one p{
        font-size: 18px;
    }
  }
  @media screen and (max-width: 500px) {
    .besoin{
        height: 280vh;
        margin-top: 0vh;
    }
    .besoin .besoin_card h1{
        font-size: 25px;
      }
    .besoin .besoin_card p{
        font-size: 13px;
        line-height: 1.8;
    }
    #first_one h1{
        font-size: 35px;
    
    }
    #first_one p{
        font-size: 18px;
    }
  }
  @media screen and (max-width: 430px){
    .besoin{
        height: 200vh;
    }
    .besoin .besoin_card h1{
        font-size: 22px;
      }
    .besoin .besoin_card p{
        font-size: 11px;
        line-height: 1.8;
    }
  }
  @media screen and (max-width: 380px){
    .besoin{
        height: 200vh;
    }
    .besoin .besoin_card h1{
        font-size: 21px;
      }
    .besoin .besoin_card p{
        font-size: 10px;
        line-height: 1.8;
    }
    #first_one h1{
        font-size: 35px;
    
    }
    #first_one p{
        font-size: 15px;
    }
  }
  @media screen and (max-width: 340px){
    .besoin .besoin_card h1{
        font-size: 19px;
      }
    .besoin .besoin_card p{
        font-size: 9px;
        line-height: 1.8;
    }
    #first_one h1{
        font-size: 30px;
    
    }
    #first_one p{
        font-size: 15px;
    }
  }
  @media screen and (max-width: 300px){
    .besoin .besoin_card h1{
        font-size: 19px;
      }
    .besoin .besoin_card p{
        font-size: 8px;
        line-height: 1.8;
    }
  }