.end-page{
    height: 50vh;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 100vh;
    text-align: center;
}
.end-page section{
    width: 40%;
    height: 50%;
    border: solid #14213d;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.end-page h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    color: #14213d;
}
.end-page p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-top: 2vh;
}

.end-page section button{
    margin-top: 2%;
    width: 20%;
    height: 20%;

}