.solution_title {
  margin-top: 15vh;
  font-size: 3em;
  color: #14213d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}
.entrepreneur_container {
  height: 50vh;
  width: 70vw;
  margin-top: 4vh;
  margin-bottom: 10vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.middle_formule{
  height: 100%;
  width: 30%;
  background-color: #14213d;
  border-radius: 4vh 4vh 4vh 4vh;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
}
.side_formule{
  height: 90%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 4vh 4vh 4vh 4vh;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.entrepreneur_container h1{
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-top: 8%;
  margin-left: 10%;
  font-weight: 700;
  font-style: normal;
}
.entrepreneur_container ul{
  margin-left: 10%;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.side_formule .devis_button{
  margin-bottom: 10px;
  margin-left: 10%;
  height: 10%;
  width: 6vw;
  background-color: #14213d;
  color: white;
  border-radius: 4vh 4vh 4vh 4vh;
  border: 2px black; 
}
.middle_formule .devis_button{
  margin-top: 10%;
  margin-left: 10%;
  height: 10%;
  width: 6vw;
  background-color: #ffffff;
  color: #14213d;
  border-radius: 4vh 4vh 4vh 4vh;
  border: 2px black; 
}
#button1{
  margin-top: 20%;
}
#button2{
  margin-top: 10%;
}
@media screen and (max-width: 1900px){
  .devis_button{
    width: 10vw;
    color: red;
  }
}

@media screen and (max-width: 1100px) {
  .entrepreneur_container{
    height: 40vh;
  }
  .entrepreneur_container h1{
    font-size: 25px;
  }
  .entrepreneur_container ul{
    font-size: 15px;
  }
  .entrepreneur_container .devis_button{
    width: 50%;
    height: 12%;
  }
}
@media screen and (max-width: 900px){
  .entrepreneur_container{
    width: 97%;
    display: flex;
    justify-content: space-between;
  }
  .entrepreneur_container div {
    width: 30%;
  }
}
@media screen and (max-width: 600px){
  .entrepreneur_container{
    width: 50vw;
    display: flex;
    justify-content: space-between;
  }
  .entrepreneur_container div {
    width: 80%;
  }
}
