.solution_title {
  margin-top: 15vh;
  font-size: 3vw;
  color: #14213d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.entrepreneur_container {
  width: 70vw;
  margin-top: 4vh;
  margin-bottom: 10vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.middle_formule {
  height: 350px;
  width: 30%;
  background-color: #14213d;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.side_formule {
  height: 320px;
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.entrepreneur_container h1 {
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-top: 8%;
  margin-left: 10%;
  font-weight: 700;
  font-style: normal;
  font-size: 2vw;
}
.entrepreneur_container ul {
  margin-left: 10%;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  list-style: inside;
  font-size: 1vw;
}
.entrepreneur_container ul li {
  cursor: pointer;
}
.side_formule .devis_button {
  margin-bottom: 10px;
  margin-left: 10%;
  height: 10%;
  width: 7vw;
  background-color: #14213d;
  color: white;
  border-radius: 10px;
  border: 2px black;
}
.middle_formule .devis_button {
  margin-top: 10%;
  margin-left: 10%;
  height: 10%;
  width: 7vw;
  background-color: #ffffff;
  color: #14213d;
  border-radius: 10px;
  border: 2px black;
  font-size: 1vw;
}
#button1 {
  margin-top: 20%;
}
#button2 {
  margin-top: 10%;
}

.devis_button {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.devis_button:hover {
  scale: 1.1;
}

@media screen and (max-width: 1900px) {
  .devis_button {
    width: 10vw;
    color: red;
  }
}
@media screen and (max-width: 1700px) {
  #button2 {
    margin-top: 2%;
    width: 8vw;
  }
  #button1 {
    width: 8vw;
  }
  .middle_formule .devis_button {
    width: 8vw;
  }
}
@media screen and (max-width: 1270px) {
  #button2 {
    margin-top: 2%;
    width: 9vw;
  }
  #button1 {
    width: 9vw;
  }
  .middle_formule .devis_button {
    width: 9vw;
    margin-top: 7%;
  }
}

@media screen and (max-width: 1100px) {
  .entrepreneur_container .side_formule {
    height: 40vh;
  }

  .entrepreneur_container .middle_formule {
    height: 43vh;
  }

  .entrepreneur_container h1 {
    font-size: 25px;
  }
  .entrepreneur_container ul {
    font-size: 15px;
  }
  #button2 {
    margin-top: 2%;
    width: 11vw;
  }
  #button1 {
    width: 11vw;
  }
  .middle_formule .devis_button {
    width: 11vw;
    margin-top: 7%;
  }
}
@media screen and (max-width: 900px) {
  .entrepreneur_container {
    width: 80%;
    justify-content: space-between;
  }
  .entrepreneur_container div {
    width: 30%;
  }
  .entrepreneur_container ul {
    font-size: 13px;
  }
  #button2 {
    margin-top: 2%;
    width: 13vw;
  }
  #button1 {
    width: 13vw;
  }
  .middle_formule .devis_button {
    width: 13vw;
    margin-top: 7%;
  }
}
@media screen and (max-width: 800px) {
  .entrepreneur_container {
    width: 92%;
    justify-content: space-between;
  }
  .entrepreneur_container .side_formule {
    height: 45vh;
  }
  .entrepreneur_container .middle_formule {
    height: 48vh;
  }
  .entrepreneur_container h1 {
    font-size: 21px;
  }
  #button2 {
    margin-top: 2%;
    width: 15vw;
  }
  #button1 {
    width: 15vw;
  }
  .middle_formule .devis_button {
    width: 15vw;
    margin-top: 7%;
  }
}
@media screen and (max-width: 800px) {
  #button2 {
    margin-top: 2%;
    width: 17vw;
  }
  #button1 {
    width: 17vw;
  }

  .middle_formule {
    height: 48vh;
  }

  .middle_formule .devis_button {
    width: 17vw;
    margin-top: 7%;
  }
}
@media screen and (max-width: 600px) {
  .entrepreneur_container {
    width: 80vw;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .entrepreneur_container div {
    width: 80%;
    height: 500px;
    margin-bottom: 4vh;
  }
  .entrepreneur_container .middle_formule button {
    font-size: 15px;
  }
  .solution_title {
    font-size: 2.5em;
  }
  .entrepreneur_container h1 {
    font-size: 30px;
  }
  .entrepreneur_container ul li {
    font-size: 20px;
  }
}
