.solution_title {
  margin-top: 15vh;
  font-size: 3em;
  color: #14213d;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}
.entrepreneur_container {
  height: 50vh;
  width: 70vw;
  margin-top: 4vh;
  margin-bottom: 10vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle_formule{
  height: 100%;
  width: 30%;
  background-color: #14213d;
  border-radius: 4vh 4vh 4vh 4vh;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
}
.side_formule{
  height: 90%;
  width: 30%;
  background-color: #ffffff;
  border-radius: 4vh 4vh 4vh 4vh;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.entrepreneur_container h1{
  text-align: left;
  font-family: "Roboto", sans-serif;
  margin-top: 8%;
  margin-left: 10%;
  font-weight: 700;
  font-style: normal;
}
.entrepreneur_container ul{
  margin-left: 10%;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.side_formule .devis_button{
  margin-top: 12vh;
  margin-left: 10%;
  height: 10%;
  width: 30%;
  background-color: #14213d;
  color: white;
  border-radius: 4vh 4vh 4vh 4vh;
  border: 2px black; 
}
.middle_formule .devis_button{
  margin-top: 10%;
  margin-left: 10%;
  height: 10%;
  width: 30%;
  background-color: #ffffff;
  color: #14213d;
  border-radius: 4vh 4vh 4vh 4vh;
  border: 2px black; 
}