
.presentation {
    height: 90vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    display: flex;
  }
  .presentation .left{
    width: 50%;
    height: 100%;

  }
  .presentation .right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
  } 
  .presentation .right img{
    height: 30vw;
    width: auto;
    border-radius: 15px;
  }
  .presentation h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3vw;
    color: #14213d;
  }
  .presentation p {
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5vw;
    line-height: 1.9vw;
    color: #14213d
  }
  #realisation_button{
    margin-top: 5vh;
    color: white;
    background-color: #14213d;
    height: 8vh;
    width: 14vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vw;
    margin-left: 5vw;
  }
  @media screen and (max-width: 850px){
    .presentation{
      margin-top: 5vw;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      width: 100%;
      }
    .presentation .left{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .presentation .right{
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .presentation h1{
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 3vw;
      line-height: 3.5vw;
      color: #14213d;
      text-align: center;
    }
    .presentation p {
      margin-top: 5vh;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 2vw;
      line-height: 3vw;
      color: #14213d;
  
    }
    #realisation_button{
      margin-top: 6vh;
      color: white;
      background-color: #14213d;
      height: 9vh;
      width: 25vw;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2vw;
      border: none;
      border-radius: 0.5vw;
      margin-left: 5vw;
    }
    .presentation .right img{
     display: none;
    }
  }
 
  
  