
.presentation {
    height: 90vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
  }
  .presentation .bord{
    background-color:  #14213d;
    height: 70%;
    width: 0.1%;
    margin-right: 1vw;
  }
  .presentation .left{
    width: 49%;
    height: 100%;

  }
  .presentation .right{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: end;
  } 
  .presentation .right img{
    height: 70%;
    width: auto;
    border-radius: 15px;
  }
  .presentation h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.3vw;
    color: #14213d;
  }
  .presentation p {
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: black;
  }

 
  
  /*responsive*/
  @media screen and (max-width: 1550px){
    .presentation p {
        font-size: 22px;
        line-height: 30px;

      }
  }
  @media screen and (max-width: 1360px){
    .presentation p {
        font-size: 21px;
        line-height: 26px;

      }
      .presentation .bord{
        height: 65%;
      }
  }
  @media screen and (max-width: 1280px){
    .presentation p {
        font-size: 19px;
        line-height: 26px;

      }

      .presentation .right img{
        height: 60%;
        width: auto;
        border-radius: 15px;
      }
  }
  @media screen and (max-width: 1150px){
    .presentation p {
        font-size: 17px;
        line-height: 26px;
      }
 
  }
  @media screen and (max-width: 1050px){
    .presentation .right img{
        height: 55%;
        width: auto;
        border-radius: 15px;
      }
      .presentation p {
        font-size: 16px;
        line-height: 20px;
      }
  }
  @media screen and (max-width: 970px){

  }
