* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  color: white;
}

li:hover {
  scale: 1.1;
  color: rgba(255, 255, 255, 0.815);
}
header {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.head_bar {
  display: flex;
  height: 10%;
  width: 100%;
}

.logo_container {
  width: 20%;
  height: 100%;
}
.head_bar .logo_container img {
  height: 100%;
  width: auto;
}
.navbar {
  color: white;
  display: flex;
  justify-content: center;
}
.header{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.header img{
  margin-top: 50px;
  height: auto;
  width: 100%;
}
.header h3{
  font-size: 2em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.navbar li {
  list-style: none;
  text-align: center;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}
