* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* Exemple de suppression des marges et des padding pour des éléments spécifiques */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: white;
}
a {
  color: white;
}

header {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.head_bar {
  display: flex;
  height: 70px;
  width: 100%;
}

.this-page {
  font-size: 1.7em;
  color: #fca311;
}

.logo_container {
  width: 10%;
  height: 100%;
}
.head_bar .logo_container img {
  height: 100%;
  width: auto;
}
.navbar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar li {
  list-style: none;
  text-align: center;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}
.header_title {
  height: 50vh;
  /* width: 60%;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.header_title img {
  width: 70%;
  height: auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  color: white;
}
.container-button {
  margin-top: 35px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  bottom: 0%;
  transition: 0.4s all ease-in;
}

.container-button button {
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  cursor: pointer;
}

.container-button button:hover {
  scale: 1.1;
}

.container-button .discovery {
  background: rgba(20, 33, 61, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
.container-button .contact {
  color: white;
  background: rgba(252, 163, 17, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar li:hover {
  scale: 1.1;
  /*color: rgba(255, 255, 255, 0.815);*/
  color: #fca311;
}

#burger-cross {
  display: none;
}
#responsive_title1 {
  display: none;
}
#paragraphe_simple {
  display: block;
}

#paragraphe_responsive {
  display: none;
}
.logotable {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotable img {
  width: 20vw;
  height: auto;
  border-radius: 20px;
  background-color: red;
}

@media screen and (max-width: 770px) {
  .navbar li {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.3em;
    width: 70%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    width: 70%;
  }

  .navbar li {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    position: relative;
    top: -150%;
    left: 2%;
    flex-direction: column;
    row-gap: 1vh;
    background-color: black;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
  }
  .navbar li {
    padding: 0;
    font-size: 17px;
  }
  #burger-cross {
    color: #e5e5e5;
    display: block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: all 0.4s ease-in-out;
  }

  .header_title img {
    width: 90%;
    height: 200px;
  }

  h3 {
    width: 80%;
    font-size: 1.1em;
  }

  .container-button {
    top: 17%;
  }

  #burger-cross::before {
    content: "\2630";
  }
  .head_bar {
    align-items: center;
    justify-content: space-between;
  }

  .head_bar.active #burger-cross::before {
    content: "\2715";
  }

  .head_bar.active .navbar {
    top: 70%;
    visibility: visible;
  }
}
