* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: white;
}
a {
  color: white;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.head_bar {
  display: flex;
  height: 70px;
  width: 100%;
}

.this-page {
  font-size: 1.7em;
  color: #fca311;
}

.logo_container {
  width: 10%;
  height: 100%;
}
.head_bar .logo_container img {
  height: 100%;
  width: auto;
}
.navbar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar li {
  list-style: none;
  text-align: center;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  transition: all 0.3s ease-in-out;
}
.header_title {
  height: 50vh;
  /* width: 60%;*/
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header_title img {
  width: 70%;
  height: auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  color: white;
}
.container-button {
  margin-top: 35px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.container-button button {
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.container-button .discovery {
  background: rgba(20, 33, 61, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
.container-button .contact {
  color: white;
  background: rgba(252, 163, 17, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.navbar li:hover {
  scale: 1.1;
  /*color: rgba(255, 255, 255, 0.815);*/
  color: #fca311;
}
.presentation {
  display: flex;
  height: 55vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid #fca311;
  margin-top: 5%;
  text-align: left;
  background-color: #fbfbfb;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.presentation .left {
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #14213d;
  flex-direction: column;
}
.presentation .left img {
  height: 25%;
  width: auto;
}
.presentation .right {
  width: 50%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14213d;
  flex-direction: column;
}
.presentation .right button {
  margin-top: 3%;
  height: 10%;
  width: 30%;
  background: rgba(20, 33, 61, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 17px;
  border-radius: 5px;
}

#burger-cross {
  display: none;
}
#responsive_title1{
  display: none;
}

/*responsive*/

@media screen and (max-width: 1920px) {
  .presentation p {
    font-size: 19px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1300px) {
  .presentation p {
    font-size: 16px; /* Adjusted from 5px to a more reasonable size */
    line-height: 20px; /* Adjusted from 15px to maintain proportionality */
  }
  .presentation .left{
    font-size: 25px;
  }

}
@media screen and (max-width: 1000px){
  .presentation{
    height: 50vh;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    display: block;
    
  }
  .presentation .left{
    width: 100%;
    height: fit-content;
    font-size: 18px;
  }
  .presentation .right{
    width: 100%;
    text-align: left;
    display: block;
  }
  .presentation p {
    margin-top: 2vh;
    font-size: 20px; /* Adjusted from 5px to a more reasonable size */
    line-height: 25px;
    margin-left: 5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #14213d;
     /* Adjusted from 15px to maintain proportionality */
  }
  #normal_title1{
    display: none;
  }
  #responsive_title1{
    display: block;
  }

}
@media screen and (max-width: 600px) {
  #responsive_title1{
    font-size: 20px;
  }
}
  


@media screen and (max-width: 770px) {
  .navbar li {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    width: 70%;
  }
  .navbar li {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    position: fixed;
    top: -100%;
    left: 19%;
    flex-direction: column;
    row-gap: 1vh;
    background-color: black;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
  }
  .navbar li {
    padding: 0;
    font-size: 17px;
  }
  #burger-cross {
    color: #e5e5e5;
    display: block;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: all 0.4s ease-in-out;
  }

  #burger-cross::before {
    content: "\2630";
  }
  .head_bar {
    align-items: center;
    justify-content: space-between;
  }

  .head_bar.active #burger-cross::before {
    content: "\2715";
  }

  .head_bar.active .navbar {
    top: 1%;
    visibility: visible;
  }
}
